header #logo img{
    display: block;
    margin: 0 auto;
    padding-top: 100px;
    padding-bottom: 70px;
}
a{
    text-decoration: none;
}
body{
    
}
#contents {
    
}
#about{
    padding: 40px 3%;
    background:#fccc04;
}
h2 {
    text-align: center;
    color: #2e2823;
    font-weight:900;
    font-family: Arial Black;
}
h4{
    text-align: center;
    color: #2e2823;
    font-weight:900;
    font-family: Arial Black;
}
#site-explain{
    text-align: center;
    background:white;
    margin:0px 200px 0px 200px; 
    border-radius: 10px;
    padding: 50px;
}
#site-explain p{
    font-weight: bold;
    color: #2e2823;
}
#products{
    padding: 40px 3%;
}
#works-list{
    margin: 0px 200px 0px 200px;
    padding: 0px 0px 10px 0px;
    position: relative;
    width: 910px;
    
    
}

#works-list img{
    border-radius:10px;
   
}

.works-img img:hover{
   cursor: pointer;
    opacity: .8;
   
}

.works-img{
	display: flex;
	flex-wrap:wrap;
    padding-right: 30px;
}
ul{
    list-style: none;
}
.works-img li {
	width: calc(100%/4);/*←画像を横に4つ並べる場合*/
	padding:0 5px;/*←画像の左右に5pxの余白を入れる場合*/
	box-sizing:border-box;
}
.works-img li img {
	max-width:100%; /*画像のはみだしを防ぐ*/
	height: auto; /*画像の縦横比を維持 */
    margin-top: 20px;
    border: .5px solid black;
	
}



#tag:hover{
    color: #fccc04;
    cursor: pointer;
}
#tag{
    color:#2e2823;
    font-weight: bold;
    text-align: center;
    margin: 0;
    
}
#tag a{
      font-size: small;
      text-align: center;
   
}
#more:hover{
    background-color:#fccc04;
    
}
#more h2:hover{
    color: white;

}
.nav-fix-pos-pagetop a {
	display: block;text-decoration: none;text-align: center;position:fixed;opa1;animation-duration: 1s;animation-fill-mode: forwards;
	width: 60px;		/*ボタンの幅*/
	line-height: 60px;	/*ボタンの高さ*/
	bottom: 50px;		/*画面の下からの配置場所指定*/
	right: 4%;			/*画面の右からの配置場所指定*/
	background: #555;	/*背景色（古いブラウザ用）*/
	background: rgba(0,0,0,0.5);	/*背景色。0,0,0は黒の事で、0.5は色が50%出た状態の事。*/
	color: #fff;		/*文字色*/
	border-radius: 50%;	/*円形にする指定。この１行を削除すると正方形になります。*/
}

.nav-fix-pos-pagetop a:hover {
	background: #999;	/*マウスオン時の背景色*/
}

.contact {
    padding-bottom:80px;
    background-color: #fccc04;
    padding-top: 40px;
}

.contact-form {
    padding-top: 100px;
}

/* inputとtextareaのCSSを指定してください */
input,
textarea {
    width: 400px;
    display:inherit;
    margin: 0 auto;
    text-align: center;
    margin-top: 10px;
    padding: 15px;
    font-size: 18px;
    border: 2px solid #dee7ec;
}

/* contact-submitのCSSを指定してください */
.contact-submit {
    background-color:#fccc06;
    color: #white;
    box-shadow: 0 7px darkslategrey;
    cursor: pointer;
    margin: 10px;
}

.contact-submit:active {
    position: relative;
    top: 6px;
    box-shadow: none;

}

.contact p {
    font-size: 15px;
}

.hidden_box {
    margin: 2em 0;/*前後の余白*/
    padding: 0;
}


/*ボタン装飾*/
.hidden_box2 label {
    font-weight: bold;
    cursor: pointer;
}

/*ボタンホバー時*/
.hidden_box2 label:hover {
    background: #efefef;
}

/*チェックは見えなくする*/
.hidden_box2 input {
    display: none;
}

/*中身を非表示にしておく*/
.hidden_box2 .hidden_show2 {
    height: 0;
    padding: 0;
    overflow: hidden;
    opacity: 0;
    transition: 0.8s;
}

/*クリックで中身表示*/
.hidden_box2 input:checked ~ .hidden_show2 {
    padding: 10px 0;
    height: auto;
    opacity: 1;
}
.submit{
    margin-top: 10px;
    
    text-align: center;
}
