* {
    padding: 0;
    margin: 0;

    font-family: Arial;
}

.dropdown {
    display: inline-block;
    margin: 3em;
}

#tg {
    display: none;
}

.menu {
    position: relative;
    visibility: hidden;
    opacity: 0;
    top: -10px;
    list-style: none;
}

.dropInput:checked ~ .menu {
    visibility: visible;
    opacity: 1;
    top: 0;
}

.dropLabel,
.item {
    padding: 1em 1.5em;
    display: block;
    background-color: #fff;
    text-align: center;
    position: relative;
    color: #333;
    text-decoration: none;
}

.item:hover {
    background-color: #3CB371;
    color: #fff;
}

.dropLabel:hover,
.dropInput:checked + label {
    background: #55eebb;
    color: #fff;
}

.animation {
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    transition: all .3s;
}

/*ーーーーーーーーーーーここから書いてくーーーーーーーーーーーー*/
body {
    background-repeat: no-repeat;
    width: auto;
    background-size: cover;
    background-attachment: fixed;
}


.header {
    font-size: 200px;
    font-family: SquadaOne-Regular;
    color: snow;
    padding-left: 200px;
}
.header span {
    font-family: SquadaOne-Regular;
    color: #55eebb;



.main {
    padding: 100px 80px;
}

.copy-container span {
    color: #55eebb;
}

.copy-container h1 {
    font-size: 140px;
    color: dimgray;
}

a {
    color: dimgray;
    font-size: 30px;
    font-weight: bold;
}

.copy-container h2 {
    font-size: 60px;
}

.copy-container span {
    color: #55eebb;
}

.contents {
    height: 400px;
    margin-top: 250px;
    background-color: snow;
}

.section-title {
    border-bottom: 2px solid #dee7ec;
    font-size: 28px;
    padding-bottom: 15px;
    margin-bottom: 50px;
    margin-top: 50px;
}

.contents-item {
    float: left;
    margin-right: 40px;
}

.contents-item p {
    font-size: 24px;
    margin-top: 30px;
}

.contact-form {
    padding-top: 100px;
}

/* inputとtextareaのCSSを指定してください */
input,
textarea {
    width: 400px;
    margin-top: 10px;
    margin-bottom: 30px;
    padding: 20px;
    font-size: 18px;
    border: 1px solid #dee7ec;
}

/* contact-submitのCSSを指定してください */
.contact-submit {
    background-color: #dee7ec;
    color: #889eab;
}

.footer {
    background-color: #2f5167;
    color: #fff;
    height: 120px;
    padding: 40px;
}

.footer-logo {
    float: left;
    font-size: 32px;
}

body {
    background-repeat: no-repeat;
    background-position: top center;
}

p,
h3 {
    color: dimgray;
}
