body {
    background: gray;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

.header {
    background: #445721;
    padding: 30px;
    color: beige;
    font-weight: bold;
}

.main {
    background: white;
    padding: 30px;
    display: flex;
}

img {
    max-width: 100%
}


.content {
    flex: 5;

}

.sidebar {
    flex: 2;
}

.section {
    display: flex;
}

.gazou {
    flex: 2;
}

.setumei {
    flex: 5;
}

.footer {
    background: #333;
    padding: 30px;
    color: beige
}
